tqdm
rich
ninja
pandas
scipy
scikit-learn
matplotlib
imageio
imageio-ffmpeg
omegaconf

einops
pygltflib

# for gui
dearpygui

# for stable-diffusion
open-clip-torch==2.24.0
huggingface_hub
diffusers
accelerate
transformers

# for dmtet and mesh export
xatlas
trimesh
PyMCubes
pymeshlab

rembg[gpu,cli]

# gradio demo
gradio

nvdiffrast @ git+https://github.com/NVlabs/nvdiffrast@main
kiui @ git+https://github.com/ashawkey/kiuikit@main
mvdream @ git+https://github.com/bytedance/MVDream
imagedream @ git+https://github.com/bytedance/ImageDream/#subdirectory=extern/ImageDream